/*
Site que tem as cores e gradientes
https://gradients.shecodes.io/gradients/173
 */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container_header{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(109.6deg, rgb(90, 209, 243) 11.2%, rgb(254, 135, 245) 91.1%);
    height: 100px;
    font-family: "Lora", serif;
}

.container_logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container_logo span{
    color: white;
}

header div img.img_logo{
    height: 100px;
    width: 100px;
    transform: rotateY(180deg);
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_menu{
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.container_menu li{
    list-style-type: none;
}

.container_menu li:last-child{
    margin-right: 1rem;
}

.container_menu li a{
    padding: 1rem;
    text-decoration: none;
    color: black;
}

.container_menu li a:hover{
   background: rgba(237, 237, 237, .3);
   backdrop-filter: blur(10px);
   text-decoration: underline;
}
